.table-name {
  height: 4.93vh;
  font-size: .85vw;;
  line-height: 4.93vh;
}

.table {
  table {
    width: 100%;
    font-size: .5em;
    tr {
      height: 2.778vh;
      td {
        text-align: center;
      }
    }
  }
}

.chart {
  height: 19.445vh;
}