<!-- 顶部 title -->
<div style="text-align:center; overflow: hidden;">
  <h1 class="title">
    <img src="../assets/logo_new.png" alt="">
    <span class="title-text">全国租售业务实时数据</span>
  </h1>
</div>

<!-- 主要数字数据 -->
<div class="number-module">
  <div class="date-and-weather">
    <app-date-and-weather></app-date-and-weather>
  </div>
  <div class="number-list">
    <app-number-list></app-number-list>
  </div>
</div>

<!-- 主要的数据展示以及地图 -->
<div class="charts-and-map">
  <div class="charts-left">
      <app-charts-left></app-charts-left>
  </div>
  <div class="map">
    <app-map></app-map>
  </div>
  <div class="number-right">
    <app-number-right></app-number-right>
  </div>
  <div class="charts-right">
    <app-charts-right></app-charts-right>
  </div>
</div>

<!-- 底部列表 -->
<div class="footer-table-charts">
  <app-footer-table-charts></app-footer-table-charts>
</div>